      .company-logo {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
      }


    .filter-box {
        border: 1px solid #ccc;
        border-radius: 6px;
        background: #fff;
        padding: 16px;
        margin-bottom: 20px;
      }

      .filter-title {
        font-weight: bold;
        font-size: 1.2rem;
      }

      .checkbox-big {
        transform: scale(1.3);
        margin-right: 10px;
      }

      .separator {
        border-bottom: 1px solid #ddd;
        margin: 16px 0;
      }

      .btn-apply-now {
        background: #ef4444;
        color: white;
      }

      .image-job-title {
      }

      .img-job-company img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }

      .page-link{
        color: #ef4444;
      }